.navbar { 
    background-color: #202642; 
    color: #fff; 
}
.navbar-brand { 
    font-size: 3rem; 
    font-weight: bold; 
}
.profile-pic { 
    width: 40px; 
    border-radius: 50%; 
}
.recipe-card img { 
    border-radius: 8px; 
}
.footer { 
    background-color: #f8f9fa; 
    /* padding: 10px;  */
}
.social-icons a { 
    color: #000; 
    font-size: 20px; 
    margin: 0 10px; 
}
.nav-link.active {
    color: black !important;
    background-color: rgb(201, 226, 244);
    border-radius: 5px;
    padding: 8px 8px; 
    transition: background-color 0.9s ease-in, color 0.9s ease;
  }
  .nav-item{
    padding-right: 10px;
  }