
.logout-page {
    background-image: url('https://www.southernliving.com/thmb/MVvOmyceT2zNd78Ga1lNALMCsUE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/27650_HTHLAS_food_054_maina-47d1f3a5dd024aa9afb301281f4e965e.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #4e342e;
    font-family: 'Lora', serif;
    padding: 20px;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0);
  }

  .logout-message {
    background: rgba(38, 42, 55, 0.9);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: #ffffff;
  }
