.navbar { background-color: #000; color: #fff; }
.navbar-brand { font-size: 24px; font-weight: bold; }
.profile-pic { width: 40px; border-radius: 50%; }
.recipe-card img { border-radius: 8px; }
.footer { background-color: #f8f9fa; padding: 10px; }
.social-icons a { color: #000; font-size: 20px; margin: 0 10px; }
.ingredients{
    display: grid;
    justify-content: flex-start;
}