.container {
    display: flex;
    max-width: 1200px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
}

.image-section {
    max-width: 40%;
    position: sticky;
    top: 0;
    align-self: start;
    flex-shrink: 0;
}

.recipe-details-section {
    max-width: 60%;
    height: 80%;
    overflow-y: auto;
    padding-right: 1rem;
    flex-grow: 1;
    opacity: 0.5; /* Start with fully hidden */
  animation: fadeIn 1s ease-in forwards; /* Apply fade-in animation */
  
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  .image-section h1 {
    font-family: 'Georgia', serif;
    color: #6c757d;
    font-size: 2rem;
    
  }
  

  .image-section img {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }


  .recipe-details-section {
    flex-basis: 60%;
    padding: 20px;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
  }


  .recipe-details h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
  }


  .recipe-details p {
    font-size: 1.1rem;
    color: #6c757d;
  }

  ul.list-group {
    list-style-type: none;
    padding-left: 0;
  }

  ul.list-group li {
    background-color: #f1f1f1;
    border: none;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul.list-group li b {
    color: #343a40;
  }

  ul.list-group li span {
    color: #495057;
  }


  ol.list-group-numbered {
    padding-left: 20px;
  }

  ol.list-group-numbered li {
    background-color: #f1f1f1;
    border: none;
    margin-bottom: 8px;
    border-radius: 8px;
    padding: 15px;
  }

  .recipe-details .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }

  .recipe-details .d-flex > div {
    flex: 1;
    max-width: 48%;
  }
